<h1>Spielübersicht</h1>

<div *ngIf="game">
  <mat-card>
    <mat-card-title>Gegner: {{ game.teams.away["name"] }}</mat-card-title>
    <mat-card-subtitle>{{ game.date }}</mat-card-subtitle>
    <mat-card-content> </mat-card-content>
  </mat-card>
  <mat-tab-group>
    <div *ngIf="!game.done">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">remove_red_eye</mat-icon>
          Beobachtung
        </ng-template>
        <app-game-observation [game]="game"></app-game-observation>
      </mat-tab>
    </div>
    <div *ngIf="game.done">
      <mat-tab label="Bewertung"> Content 1 </mat-tab>
    </div>
    <div *ngIf="game.statistics && game.statistics.history">
      <mat-tab
        ><ng-template mat-tab-label>
          <mat-icon class="tab-icon">history</mat-icon>
          Verlauf
        </ng-template>
        <app-game-history [game]="game"></app-game-history>
      </mat-tab>
    </div>
    <mat-tab *ngIf="game.statistics"
      ><ng-template mat-tab-label>
        <mat-icon class="tab-icon">show_chart</mat-icon>
        Statistik
      </ng-template>
      <app-game-statistic [game]="game"></app-game-statistic>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">settings</mat-icon>
        Einstellungen
      </ng-template>
      <app-game-settings [game]="game"></app-game-settings>
    </mat-tab>
  </mat-tab-group>
</div>
