<div *ngIf="game.statistics.home">
  <ng-container
    *ngTemplateOutlet="
      playersTemplate;
      context: {
        players: game.statistics.home,
        title: 'Eigene Spieler',
        team: 'home'
      }
    "
  ></ng-container>
  <br />
</div>
<br />

<div *ngIf="game.statistics.away">
  <ng-container
    *ngTemplateOutlet="
      playersTemplate;
      context: {
        players: game.statistics.away,
        title: 'Gegnerische Spieler',
        team: 'away'
      }
    "
  ></ng-container>
</div>

<ng-template
  #playersTemplate
  let-players="players"
  let-title="title"
  let-team="team"
>
  <div *ngIf="players">
    <mat-accordion *ngIf="players">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ title }} </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="players">
            <ng-container matColumnDef="player">
              <mat-header-cell *matHeaderCellDef> Spieler </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ displayPlayerInfo(element.playerId) }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="goals">
              <mat-header-cell *matHeaderCellDef> Tore </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.goals }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                {{ calculateTotal(team, "goals") }}</mat-footer-cell
              >
            </ng-container>

            <ng-container matColumnDef="missed">
              <mat-header-cell *matHeaderCellDef> Fehlwürfe </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.missed }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                {{ calculateTotal(team, "missed") }}</mat-footer-cell
              >
            </ng-container>

            <ng-container matColumnDef="incompletion">
              <mat-header-cell *matHeaderCellDef>
                Pas-/Fangfehler
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.incompletion }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef>
                {{ calculateTotal(team, "incompletion") }}</mat-footer-cell
              >
            </ng-container>

            <ng-container matColumnDef="hpi">
              <mat-header-cell *matHeaderCellDef> HPI </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.hpi }}
              </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row
              class="sticky-footer"
              *matFooterRowDef="displayedColumns"
            ></mat-footer-row>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="9999">Keine Spiele gefunden</td>
            </tr>
          </mat-table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
