<h1>{{ "game.Overview" | translate }}</h1>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="games">
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>
        {{ "Date" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="opponent">
      <mat-header-cell *matHeaderCellDef>
        {{ "Opponent" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.teams.away["name"] }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef>
        {{ "Action" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          focusable="false"
          [routerLink]="['detail', element.id]"
        >
          <mat-icon>details</mat-icon> {{ "Details" | translate }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">{{ "game.NotFound" | translate }}</td>
    </tr>
  </mat-table>
</div>

<br />

<button
  mat-fab
  color="primary"
  aria-label="Add a Game"
  (click)="openGameDialog()"
>
  <mat-icon>add</mat-icon>
</button>
