<section>
  <div class="button-row">
    <button mat-raised-button>Tor</button>
    <button mat-raised-button color="warn">Fehlwurf</button>
  </div>
</section>
<br />
<div *ngIf="game.players">
  <h2>Eigene Spieler</h2>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="game.players.home">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opponent">
        <mat-header-cell *matHeaderCellDef> Gegner </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.opponent}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
           <button mat-raised-button focusable="false" [routerLink]="['detail', element.id]">
            <mat-icon>details</mat-icon> Details
           </button>
        </mat-cell>
     </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">
          Keine Spiele gefunden
        </td>
      </tr>
    </mat-table>
  </div>
  <h2>Gegner</h2>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="game.players.away">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Datum </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opponent">
        <mat-header-cell *matHeaderCellDef> Gegner </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.opponent}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
        <mat-cell *matCellDef="let element">
           <button mat-raised-button focusable="false" [routerLink]="['detail', element.id]">
            <mat-icon>details</mat-icon> Details
           </button>
        </mat-cell>
     </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="9999">
          Keine Spiele gefunden
        </td>
      </tr>
    </mat-table>
  </div>
</div>

