<div *ngIf="game.players; else noPlayers">
  <div class="btn-group">
    <button mat-raised-button>Tor</button>
    <button mat-raised-button color="warn">Fehlwurf</button>
    <button mat-raised-button color="warn">Technischer Fehler</button>
    <button mat-raised-button color="warn">Pass-/ Fangfehler</button>
    <button mat-raised-button color="warn">Fehlwurf</button>
    <button mat-raised-button>1./ 2. Welle</button>
    <button mat-raised-button>7m</button>
    <button mat-raised-button color="warn">2 Minuten</button>
  </div>
  <br /><br />

  <ng-container
    *ngTemplateOutlet="
      playersTemplate;
      context: { players: game.players.home, title: 'Eigene Spieler' }
    "
  ></ng-container>
  <br />
  <ng-container
    *ngTemplateOutlet="
      playersTemplate;
      context: { players: game.players.opponent, title: 'Gegner' }
    "
  ></ng-container>
</div>

<ng-template #noPlayers>
  <h2>Keine Spieler zugeordnet</h2>
</ng-template>

<ng-template #playersTemplate let-players="players" let-title="title">
  <mat-accordion *ngIf="players">
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ title }} </mat-panel-title>
        <mat-panel-description> </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="players">
          <ng-container matColumnDef="number">
            <mat-header-cell *matHeaderCellDef> Nummer </mat-header-cell>
            <mat-cell *matCellDef="let element">
              {{ element.number }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let element"
              >{{ element.firstName }} {{ element.name }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="actionsColumn">
            <mat-header-cell *matHeaderCellDef> </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <button
                mat-raised-button
                focusable="false"
                [routerLink]="['detail', element.id]"
              >
                <mat-icon>details</mat-icon> Details
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="9999">Keine Spiele gefunden</td>
          </tr>
        </mat-table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</ng-template>
