<div *ngIf="game.players; else noPlayers">
  <div class="button-grid">
    <button mat-raised-button (click)="onClickEvent('goal')">Tor</button>
    <button mat-raised-button color="warn" (click)="onClickEvent('noGoal')">
      {{ "Missed" | translate }}
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="onClickEvent('technicalError')"
    >
      {{ "TechnicalError" | translate }}
    </button>
    <button
      mat-raised-button
      color="warn"
      (click)="onClickEvent('incompletion')"
    >
      {{ "Incompletion" | translate }}
    </button>
    <button mat-raised-button (click)="onClickEvent('fastBreak')">
      {{ "FastBreak" | translate }}
    </button>
    <button mat-raised-button (click)="onClickEvent('penalty')">7m</button>
    <button mat-raised-button color="warn" (click)="onClickEvent('twoMinutes')">
      {{ "TwoMinutes" | translate }}
    </button>
    <button mat-raised-button (click)="onClickEvent('goalkeeperChange')">
      {{ "goalkeeper.Change" | translate }}
    </button>
  </div>
  <br />
  <div *ngIf="game.statistics && game.statistics.activeKeeper">
    <h2>{{ "goalkeeper.Active" | translate }}</h2>
    <div
      *ngIf="
        game.statistics.activeKeeper.home &&
        getPlayerFromID(game.statistics.activeKeeper.home)
      "
    >
      <p>{{ "Home" | translate }}</p>
      <button mat-raised-button>
        {{ getPlayerFromID(game.statistics.activeKeeper.home).number }} -
        {{ getPlayerFromID(game.statistics.activeKeeper.home).name }}
      </button>
    </div>
    <div
      *ngIf="
        game.statistics.activeKeeper.away &&
        getPlayerFromID(game.statistics.activeKeeper.away)
      "
    >
      <p>{{ "Away" | translate }}</p>
      <button mat-raised-button>
        {{ getPlayerFromID(game.statistics.activeKeeper.away).number }} -
        {{ getPlayerFromID(game.statistics.activeKeeper.away).name }}
      </button>
    </div>
  </div>
  <br /><br />

  <ng-container
    *ngTemplateOutlet="
      playersTemplate;
      context: { players: game.players.home, title: 'HomePlayer' }
    "
  ></ng-container>

  <br />
  <ng-container
    *ngTemplateOutlet="
      playersTemplate;
      context: { players: game.players.away, title: 'AwayPlayer' }
    "
  ></ng-container>
</div>

<ng-template #noPlayers>
  <h2>{{ "player.NoOneAssigned" | translate }}</h2>
</ng-template>

<ng-template #playersTemplate let-players="players" let-title="title">
  <div *ngIf="players && players[players.length - 1].hasOwnProperty('name')">
    <mat-accordion *ngIf="players">
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ title }} </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="mat-elevation-z8">
          <mat-table [dataSource]="players">
            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef>
                {{ "Number" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element">
                {{ element.number }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>
                {{ "Name" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let element"
                >{{ element.firstName }} {{ element.name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actionsColumn">
              <mat-header-cell *matHeaderCellDef> </mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button
                  mat-raised-button
                  focusable="false"
                  [routerLink]="[
                    '/team/detail/' + element.teamID + '/players/detail',
                    element.id
                  ]"
                >
                  <mat-icon>details</mat-icon> {{ "Details" | translate }}
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="9999">
                {{ "game.NotFound" | translate }}
              </td>
            </tr>
          </mat-table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
