<h1>{{ "player.List" | translate }} - {{ team.name }}</h1>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="players">
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef>
        {{ "Active" | translate }}?
      </mat-header-cell>

      <mat-cell *matCellDef="let element"
        ><mat-checkbox
          #checkBox
          [(ngModel)]="element.active"
          (change)="changePlayerActive(element, checkBox)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isKeeper">
      <mat-header-cell *matHeaderCellDef>
        {{ "player.Type" | translate }}</mat-header-cell
      >
      <mat-cell *matCellDef="let element">
        <fa-icon *ngIf="element.isKeeper" [icon]="customIcons.keeper"></fa-icon>
        <fa-icon
          *ngIf="!element.isKeeper"
          [icon]="customIcons.player"
        ></fa-icon>
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>
        {{ "Name" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.firstName }} {{ element.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef i18n>
        {{ "Action" | translate }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div>
          <button
            mat-raised-button
            focusable="false"
            [routerLink]="['detail', element.id]"
            i18n
          >
            <mat-icon>details</mat-icon>
            {{ "Details" | translate }}
          </button>
        </div>

        <button
          mat-raised-button
          focusable="false"
          [routerLink]="['detail', element.id]"
          i18n
        >
          <mat-icon>multiline_chart</mat-icon> {{ "Statistics" | translate }}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">
        {{ "player.NotFound" | translate }}
      </td>
    </tr>
  </mat-table>
</div>

<br />

<button
  mat-fab
  color="primary"
  attr.aria-valuenow="{{ 'player.Add' | translate }}"
  (click)="openPlayerCreationDialog()"
>
  <mat-icon>add</mat-icon>
</button>
