<h1>Spielerliste - {{ team.name }}</h1>

<div class="mat-elevation-z8">
  <mat-table [dataSource]="players">
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef> Aktiv? </mat-header-cell>

      <mat-cell *matCellDef="let element"
        ><mat-checkbox
          #checkBox
          [(ngModel)]="element.active"
          (change)="changePlayerActive(element, checkBox)"
        ></mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="isKeeper">
      <mat-header-cell *matHeaderCellDef> Spielertyp </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <fa-icon *ngIf="element.isKeeper" [icon]="faKeeper"></fa-icon>
        <fa-icon *ngIf="!element.isKeeper" [icon]="faPlayer"></fa-icon>
      </mat-cell>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> Vorname </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.firstName }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actionsColumn">
      <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          focusable="false"
          [routerLink]="['detail', element.id]"
        >
          <mat-icon>details</mat-icon> Details
        </button>
        <button
          mat-raised-button
          focusable="false"
          [routerLink]="['detail', element.id]"
        >
          <mat-icon>multiline_chart</mat-icon> Statistik
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="9999">Keine Spieler gefunden</td>
    </tr>
  </mat-table>
</div>

<br />

<button
  mat-fab
  color="primary"
  aria-label="Add a player"
  (click)="openPlayerCreationDialog()"
>
  <mat-icon>add</mat-icon>
</button>
